{
    "awx_api_local":
      {
          "awx_api_read_only_token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
          "awx_api_write_access_token": "YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY",
          "awx_api_host": "127.0.0.1:8052",
          "awx_api_schema": "http"
      },
    "awx_api_remote":
    {
          "awx_api_read_only_token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
          "awx_api_write_access_token": "YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY",
          "awx_api_host": "awx.domain.example.com",
          "awx_api_schema": "https"
    }
}
